:root {
  --white : #ffffff;
  --peach-white : #FDF2F2;
  --bright-red : #BD2A2A;
  --dark-red : #BC2F2F;
  --red : #A02726;
  --light-red : #AF4A49;
  --dark-grey : #363636;
  --grey : #292929;
  --peach : #E88686;
}


body {
  font-family: 'Inter', sans-serif;
}

.Home {
  min-height: 100vh;
  min-width: 100vw;
  background: radial-gradient(105.04% 102.82% at 2.85% 97.27%, #F19F9F 0%, #D85555 0%, #FFF 0.01%, #F38E8E 99.06%, #F19393 100%, #F49999 100%, #F8BDBD 100%);
  background-blend-mode: plus-darker;
  backdrop-filter: blur(50px);
}
